<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/interface.css">
    <link rel="stylesheet" href="/static/css/tnt.css">

    <script src="/static/js/api.js"></script>

    <script src="/static/js/app.js" defer></script>
    <script src="/static/js/tnt.js" defer></script>
    <script src="/static/js/interface.js" defer></script>

    <title>AWACRAFT</title>
</head>

<body>

    <div class="grass-top"></div>
    <div class="tnt" id="tnt">
    </div>

    <header>
        <span class="playing">Playing: <span id="playing"></span></span>
    </header>
    <div class="game">
        <button class="score red"><span>0</span></button>
        <button id="0" class="cell blue"><span>0</span></button>
        <button id="1" class="cell blue"><span>0</span></button>
        <button id="2" class="cell blue"><span>0</span></button>
        <button id="3" class="cell blue"><span>0</span></button>
        <button id="4" class="cell blue"><span>0</span></button>
        <button id="5" class="cell blue"><span>0</span></button>
        <button id="11" class="cell red"><span>0</span></button>
        <button id="10" class="cell red"><span>0</span></button>
        <button id="9" class="cell red"><span>0</span></button>
        <button id="8" class="cell red"><span>0</span></button>
        <button id="7" class="cell red"><span>0</span></button>
        <button id="6" class="cell red"><span>0</span></button>
        <button class="score blue"><span>0</span></button>
    </div>

    <div class="interface" id="interface">
        <img class="title" src="/static/assets/logo.png" alt="">

        <div class="page show" id="page-home">
            <button class="btn" onclick="playSingleplayer()">Singleplayer</button>
            <button disabled class="btn mt">Customization</button>
            <div class="container hidden" id="login-option">
                <button class="btn mt" onclick="showPage('login')">Login</button>
                <button class="btn" onclick="showPage('register')">Register</button>
            </div>
            <div class="container hidden" id="logout-option">
                <button class="btn" onclick="logout()">Log out</button>
            </div>
        </div>

        <div class="page" id="page-register">
            <input class="input" placeholder="Username" id="register-username"/>
            <input class="input" placeholder="Password" type="password" id="register-password"/>
            <button class="btn" onclick="register()">Register</button>
            <span class="text" id="register-result"></span>
            <button class="btn mt" onclick="showPage('home')">Back</button>
        </div>

        <div class="page" id="page-login">
            <input class="input" placeholder="Username" id="login-username"/>
            <input class="input" placeholder="Password" type="password" id="login-password"/>
            <button class="btn" onclick="login()">Login</button>
            <span class="text" id="login-result"></span>
            <button class="btn mt" onclick="showPage('home')">Back</button>
        </div>
    </div>
</body>

</html>